@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}
:root {
--twilight-indigo: #3A4057ff;
--golden-sand: #D1C37Bff;
--lavender-grey: #8193A9ff;
--lime-moss: #729A12ff;
--toffee-brown: #916543ff;
}


body {
    width: 800px;
    margin: 0 auto;
    background-color: var(--toffee-brown);
    
}

@media screen and (max-width:768px) {
    body {
         width: 100%;
         padding: 10px;
         box-sizing: border-box;
    }
}

/* HTML PROFIL */

.Konten_Utama{
    position: relative;
    width: 100%;
    height: 600px;

    
}
.Gambar_background img {
    max-width: 100%;
    max-width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;

}

.Gambar_background{
    display: flex;
    justify-content: center;
}



.Teks_Profil{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Teks_Profil h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    margin: 0;
    font-weight: bold;
    color: var(--toffee-brown);
    
    z-index: 2;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1); ;
}

.Teks_Profil img {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

.KetHalSatu{
    position:absolute;
    top: 20%;
    left: 0%;
    background-color: var(--toffee-brown);
    height: 30px;
    width: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius:0px 10px 10px 0px;
    box-shadow: 2px 2px 15px -7px #000000;
}

.KetHalSatu p {
    color: white;
}
.BgKet_Profil {
    position: absolute;
    top: 20%;
    background-color: rgba(235, 225, 210, 0.6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    max-width: 80%;
    height: 70%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    
}

.Ket_Profil {
    color: black;
}

.Ket_Profil > h2 {
    color: black;
    text-align: center;
}

.Ket_Profil p {
    text-align: justify;
    margin-top: 10px;
}

.gambar_raziq {
    position: absolute;
    right: -19%;
    bottom: 0%;
    
}

.gambar_raziq img {
    width: 200px;
    height: auto;
    margin: 0 auto;
}

.userInput_Utama{
    background-color: white;
    position: relative;
    margin: -40px auto 0 auto;
    max-width: 98%;
    border-radius: 20px;
    height: 1150px;
    padding: 20px 0;
}

.kotakUser {
    position: relative;
    top: 7%;
    padding: 0 20px;
    margin-bottom: 50px;

}

.KetHalDua {
    position:absolute;
    top: 5%;
    left: 0%;
    background-color: var(--toffee-brown);
    height: 30px;
    width: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius:0px 10px 10px 0px;
    box-shadow: 2px 2px 15px -7px #000000;
}

.KetHalDua p {
    color: white;
}

.InputSatu_Bg {
   display: flex;
   flex-direction: column;
   border: 5px ;
   box-shadow: 2px 2px 15px -7px #000000;
   border-radius: 10px;
   height: auto;
   justify-content: center;
   text-align: center;
   align-items: center;
   padding: 30px 20px;
   background-color: white;
}

.PertanyaanInput {
    color: var(--toffee-brown);
}

.Btn_Usia{
    border: 1px solid rgb(138, 136, 136);
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.Btn_Usia:hover{
    transform: scale(0.9);
    transition: 0.3s ease-out;

}

.Btn_Usia:active{
    transform: scale(1);
    border-color: var(--toffee-brown);
}

.KetHalTiga {
    position:absolute;
    top: 39%;
    left: 0%;
    background-color: var(--toffee-brown);
    height: 30px;
    width: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius:0px 10px 10px 0px;
    box-shadow: 2px 2px 15px -7px #000000;
}

.KetHalTiga p{
    color: white;
}

.InputDua_Bg {
   display: flex;
    margin-top: 50px;
   flex-direction: column;
   border: 5px ;
   box-shadow: 2px 2px 15px -7px #000000;
   border-radius: 10px;
   height: auto;
   justify-content: center;
   text-align: center;
   align-items: center;
   padding: 30px 20px;
}

.Btn_JK{
    border: 1px solid rgb(138, 136, 136);
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.Btn_JK:hover{
    transform: scale(0.9);
    transition: 0.3s ease-out;

}

.Btn_JK:active{
    transform: scale(1);
    border-color: var(--toffee-brown);
}

.InputTiga_Bg {
   display: flex;
    margin-top: 50px;
   flex-direction: column;
   border: 5px ;
   box-shadow: 2px 2px 15px -7px #000000;
   border-radius: 10px;
   height: auto;
   justify-content: center;
   text-align: center;
   align-items: center;
   padding: 30px 20px;
}

.Btn_Semangat{
    border: 1px solid rgb(138, 136, 136);
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.Btn_Semangat:hover{
    transform: scale(0.9);
    transition: 0.3s ease-out;

}

.Btn_Semangat:active{
    transform: scale(1);
    border-color: var(--toffee-brown);
}

.KetHalEmpat {
    position:absolute;
    top: 67.5%;
    left: 0%;
    background-color: var(--toffee-brown);
    height: 30px;
    width: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius:0px 10px 10px 0px;
    box-shadow: 2px 2px 15px -7px #000000;
}

.KetHalEmpat p {
    color: white;
}

.Navigasi {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 10px;
    
}

#BackBtn{
    border: none;
    background-color: var(--lavender-grey);
    text-decoration: none;
    padding: 0 30px;
    height: 25px;
    border-radius: 20px;
}

#BackBtn a{
    text-decoration: none;
    color: white;
}

#NextBtn{
    border: none;
    background-color: var(--lime-moss);
    text-decoration: none;
    padding: 0 30px;
    height: 25px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3 ease-out;
}

#NextBtn:hover{
    transform: scale(0.9);
}

#NextBtn a{
    text-decoration: none;
    color: white;
}

